{namespace r5p=CGB\Relax5event\ViewHelpers}

<!-- docref BEGIN: EXT:relax5event/Resources/Private/Partials/Event/SendData.html v8.7 -->
<!-- rev: 2018-01-25 -->

<div class="rlx5-item-project-data rlx5-{itemtype} rlx5-core-data-box">
  <table class="tx-relax5project">
    <!--
    <tr>
      <td><f:translate key="tx_relax5event_domain_model_event.name" /></td>
      <td>{event.name}</td>
    </tr>
    -->
    <tr>
      <td><f:translate key="tx_relax5event_domain_model_event.message" /></td>
      <td><f:format.html>{event.message}</f:format.html></td>
    </tr>

  </table>
</div>
  
<!-- docref END: EXT:relax5event/Resources/Private/Partials/Event/SendData.html v8.7 -->