{namespace h=Helhum\TyposcriptRendering\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

  <f:section name="main">
    <div class="rlx5-message-container">
      <f:flashMessages />
      <f:render partial="FormErrors" arguments="{object:Entry}" />
    </div>

    <f:form action="update" enctype="multipart/form-data" name="entry" object="{entry}" class="rlx5-form"
      additionalAttributes="{data-ajax-uri: '{h:uri.ajaxAction(extensionName: \\'Relax5event\\',controller: \\'Entry\\',pluginName: \\'Event\\', action: \\'update\\')}'}">
            
      <f:render partial="Entry/FormFields" arguments="{_all}" />
      <!-- <f:form.submit value="Save" /> -->
      
      
    </f:form>
    
    <p class="footnote">docref: EXT:relax5core/Resources/Private/Templates/Entry/Edit.html v8.7</p>
    
  </f:section>
</html>